<!DOCTYPE html>
<html>
  <head>
    <title>RPG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <h1>this is the default layout</h1>
  <div class="nav navbar-nav navbar-right">
    <%if logged_in?%>
      <%= link_to "Logout", logout_path, method: "delete"%>
    <%else%>
      <%= link_to "Login", login_path %>
    <%end%>
  </div>
  <body background="<%= background%>">
    <%= yield %>
  </body>
</html>
