<%  if flash[:error]  %>
<h3 style="color:yellow;"><%= flash[:error]%></h3>
<% end %>

<h1>Login<h1>
<%= form_tag login_path, method: "post" do %>
<label>Username</label>
<%= text_field_tag  :username%>
<label>Password</label>
<%= password_field_tag :password %>
<%= submit_tag "Start Your Eternal Journey"%>
<%end%>
