<p>Nice! Click <%=link_to "here", new_world_path%> once you get three cores from the same world.<p>


<% if !@user.cores.blank? %>
  <h1>You've collected some cores.</h1>
  <br>
  <h2>Here's what you have on <%= @user.name %>: </h2>
  <ul>
  <% @user.cores.each do |core|%>
    <li><%=core.essence%> core, from <%=core.deity.name%> in <%=core.world.name%></li>
  <% end %>
  </ul>
<% else %>
  <h1>You haven't collected any of this worlds cores yet</h1>
<% end %>
